@page "/"

<PageTitle>TPH Blazor Spotlight Example</PageTitle>

<h1>Welcome to TPH Blazor Spotlight Example</h1>

<h5 class="text-secondary">For everyone that doesn't know: TPH = The Programmer's Hangout</h5>

<h4 class="mt-5">Links</h4>

<p class="mb-0">Discord Server</p>
<a href="https://discord.gg/programming">discord.gg/programming</a>

<p class="mt-4 mb-0">GitHub Repository</p>
<a href="https://github.com/Stone-Red-Code/TPH-Blazor-Spotlight-Example">github.com/Stone-Red-Code/TPH-Blazor-Spotlight-Example</a>

